$layout-breakpoint-small: 768px;
$layout-breakpoint-medium: 1440px;

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  padding: 40px 24px;
  background: #f6f6f6;

  a#up_button {
    display: none;
    @media (max-width: $layout-breakpoint-small) {
      display: block;
      position: fixed;
      bottom: 140px;
      right: 20px;
      z-index: 999;
    }
  }

  @media (max-width: $layout-breakpoint-medium) {
    flex-wrap: wrap;
  }

  > * {
    flex-shrink: 0;
  }
}
