@media screen and (min-width: 1440px) {
  #SL-container {
    margin: 40px 24px;
    justify-content: left;
    gap: 40px;
  }
  #SL-flex {
    width: auto;
  }
  #SL-support {
    display: flex;
  }
  #SL-list {
    li.SL-book {
      width: 996px;

      .SL-d1 {
        width: 808px;
      }
    }
  }

  //   koniec
}
