<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/book-cover.css" />
  </head>
  <body>
    <div class="book-cover-container">
      <!-- <img
        src="https://s3-alpha-sig.figma.com/img/bcdd/9698/361559ee7d7fce4549c619570a6820ca?Expires=1704067200&Signature=fC8so5HfNXkzNrI54Wh11dWJ3N18QUWBnKpkv7RWOCEdzHpKTJII90e-g5R78ohutHd5q-JtPAb4sEcqxk6bsip3J7iwvCFQijebwV1stpWHspZGzpv1fNRYlJ4Jb8ofcpQDld8GAQaQ0~~vfWDzgELWe8-JM3prg8gGkS1ZXEpHzPG42tgboVeNinCFsEryqkzfEKK2Xq~IzZJ0Nm1Ct45mdDSDOv~jzx3QVMncV~FPZW2OoCF8Heke7HVQGEKbdsUFYUqT1CHKKhuBBTa0PFG1OkM3mZg-Yz616cas9ZZRXQ1NoFeQmAHSYgukuQtdSSYO66TJtBGbz2HE610WEw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="Book cover"
        class="book-cover"
      />
      <div class="book-cover-box-overlay">
        <p class="book-cover-text-overlay">quick view</p>
      </div>
      <p class="book-cover-book-title">I will find you</p>
      <p class="book-cover-author">Harlan Coben</p> -->
    </div>
    <script type="module" src="../js/insert-data/book-cover.js"></script>
  </body>
</html>
