<header>
  <div class="container flex">
    <nav class="nav-wrapper">
      <a href="" class="logo">
        <svg class="logo-icon">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg><svg class="logo-text">
          <use href="/src//images/icons.svg#icon-bookshelf-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li><a href="./index.html">HOME</a></li>
        <li>
          <a href="./shopping.html">SHOPPING LIST
            <svg width="20px" height="20px">
              <use href="/src/images/icons.svg#icon-bag-shop"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="btns-header-wrapper">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
      <button type="button" id="sign-button" class="log-in">
        Sign up<svg width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button type="button" class="hamburger">
        <svg width="28px" height="28px">
          <use href="/src/images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>
  </div>
</header>