<header>
  <div class="container header-flex header-padding">
    <nav class="header-nav-wrapper">
      <a href="index.html" class="header-logo">
        <svg class="header-logo-icon"><use href="/src/images/icons.svg#icon-logo"></use></svg
        ><svg class="header-logo-text">
          <use href="/src//images/icons.svg#icon-bookshelf-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-yellow-hover"><a href="index.html">HOME</a></li>
        <li class="header-shopping-list-wrapper header-yellow-hover">
          <a href="shopping.html">SHOPPING LIST</a>
          <svg width="20px" height="20px">
            <use href="/src/images/icons.svg#icon-bag-shop"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <div class="header-margin">
    <div class="header-btns-wrapper">
      <div class="theme-switch-wrapper">
        <label class="theme-switch header-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <span class="header-slider slider round"></span>
        </label>
      </div>
      <button type="button" id="header-sign-button" class="header-log-in" data-modal-open>
        Sign up<svg width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button type="button" id="toggleBtn" class="header-hamburger" aria-expanded="false">
        <svg width="28px" height="28px" class="header-open">
          <use href="/src/images/icons.svg#icon-align-left"></use>
        </svg>
        <svg width="28px" height="28px" class="header-close hidden">
          <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
  </div>
  </div>
  <div class="menu-container" id="mobileMenu" >
    <div class="menuMobile-wrapper">
    <button type="button" id="header-menuMobile-sign-button" class="header-log-in" data-modal-open="">
      Sign up<svg width="20px" height="20px">
        <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
        <button type="button" id="header-log-out"> Log out<svg width="20px" height="20px">
            <use href="/src/images/icons.svg#icon-arrow-narrow-right"></use>
          </svg></button>
    </div>
    <div class="header-books-container">
      <ul class="header-list-mobileMenu">
        <li class="header-mobileMenu-yellow-hover"><a href="/">HOME</a></li>
        <li class="header-shopping-list-wrapper header-mobileMenu-yellow-hover">
          <a href="/src/shopping.html">SHOPPING LIST</a>
          <svg width="20px" height="20px">
            <use href="/src/images/icons.svg#icon-bag-shop"></use>
          </svg>
        </li>
      </ul>
      <ul class="header-books-wrapper header-grid-container">
      </ul>
    </div>
  </div>
</header>
