<div class="SI-modal-backdrop hidden" data-modal>
  <div class="SI-modal-wrapper">
    <div class="SI-modal-flex">
      <button type="button" class="SI-close" data-modal-close>
        <svg width="28px" height="28px" class="header-close">
          <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="SI-form-wrapper">
        <form action="#" name="user-sign-in">
          <div class="SI-modal-input">
            <label for="username">Name</label>
            <input class="SI-input-wrapper" type="text" name="username" id="username" required />
          </div>
          <div class="SI-modal-input">
            <label for="username">Email</label>
            <input class="SI-input-wrapper" type="email" name="email" id="email" required />
            <svg width="28px" height="28px" class="SI-icon-modal">
              <use href="/src/images/icons.svg#icon-mail"></use>
            </svg>
          </div>
          <div class="SI-modal-input">
            <label for="username">Password</label>
            <input class="SI-input-wrapper" type="password" name="password" id="password" minlength="8" required />
            <svg width="28px" height="28px" class="SI-icon-modal">
              <use href="/src/images/icons.svg#icon-lock"></use>
            </svg>
          </div>
          <button type="submit" class="SI-btn-send">SIGN UP</button>
          <ul class="SI-link">
            <li class="SI-link-hover"><a href="">SIGN UP</a></li>
            <li class="SI-link-hover"><a href="">SIGN IN</a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
