<section id="main_section">
  <h1>Best Seller Books</h1>
  <div class="books_row_container">
    <h6 class="books_row_title">Combined Print and E-Book Fiction</h6>
    <ul class="books_row" id="books_row_1">
      <li>Book 1</li>
      <li>Book 2</li>
      <li>Book 3</li>
      <li>Book 4</li>
      <li>Book 5</li>
    </ul>
    <button class="see_more">See more</button>
  </div>
  <div class="books_row_container">
    <h6 class="books_row_title">Combined Print and E-Book Fiction</h6>
    <ul class="books_row" id="books_row_2">
      <li>Book 1</li>
      <li>Book 2</li>
      <li>Book 3</li>
      <li>Book 4</li>
      <li>Book 5</li>
    </ul>
    <button class="see_more">See more</button>
  </div>
  <div class="books_row_container">
    <h6 class="books_row_title">Combined Print and E-Book Fiction</h6>
    <ul class="books_row" id="books_row_3">
      <li>Book 1</li>
      <li>Book 2</li>
      <li>Book 3</li>
      <li>Book 4</li>
      <li>Book 5</li>
    </ul>
    <button class="see_more">See more</button>
  </div>
</section>
