<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="dist/basicLightbox.min.css">
    <link rel="stylesheet" href="../css/scss/_modal-book.scss" />
  </head>
  <body>
    <template>
    <div class="modal-book-container-bgc">
      <div class="modal-book-container">
        <button type="button" class="modal-book-close-btn">
          <svg class="modal-book-close-icon">
            <use href="../images/icons.svg#icon-x-close"></use>
          </svg>
        </button>
        <div class="modal-book-book-info">
          <!-- <img
            src="https://s3-alpha-sig.figma.com/img/bcdd/9698/361559ee7d7fce4549c619570a6820ca?Expires=1704067200&Signature=fC8so5HfNXkzNrI54Wh11dWJ3N18QUWBnKpkv7RWOCEdzHpKTJII90e-g5R78ohutHd5q-JtPAb4sEcqxk6bsip3J7iwvCFQijebwV1stpWHspZGzpv1fNRYlJ4Jb8ofcpQDld8GAQaQ0~~vfWDzgELWe8-JM3prg8gGkS1ZXEpHzPG42tgboVeNinCFsEryqkzfEKK2Xq~IzZJ0Nm1Ct45mdDSDOv~jzx3QVMncV~FPZW2OoCF8Heke7HVQGEKbdsUFYUqT1CHKKhuBBTa0PFG1OkM3mZg-Yz616cas9ZZRXQ1NoFeQmAHSYgukuQtdSSYO66TJtBGbz2HE610WEw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="Book cover"
            class="modal-book-book-cover"
          />
          <div class="modal-book-info-descr">
            <p class="modal-book-book-title">I will find you</p>
            <p class="modal-book-book-author">Harlan Coben</p>
            <p class="modal-book-book-description">
              In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces
              as he gets to the know the family of his college sweetheart.
            </p>
            <div class="modal-book-links">
              <a href="" class="modal-book-amazon"> </a>
              <a href="" class="modal-book-bookstore"></a>
            </div> -->
          </div>
        </div>
        <button type="button" class="modal-book-addtolist-btn">add to shopping list</button>
      </div>
    </div>
    </template>
    <script src="dist/basicLightbox.min.js"></script>
    <script src="../js/modal-book/modal-book-insert-info.js"></script>
    <script src="../js/modal-book/modal-book-open-close.js"></script>
    <script src="../js/modal-book/modal-book-addtols.JS"></script>
  </body>
</html>
