<section id="sidebar">
  <div id="menu-categories">
    <h3 class="categories-title">All categories</h3>
    <ul class="bookshelf-categories-list"></ul>
  </div>
  <div id="ukraine-support">
    <h3 class="support-ukraine-title">Support Ukraine</h3>
    <ul class="support-ukraine-list">
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
    </ul>
  </div>
</section>

</html>