<section id="sidebar">
  <div id="menu-categories">
    <h3 class="categories-title">All categories</h3>
    <ul class="bookshelf-categories-list">
      <li class="categories-list">Combined Print and E-book Fictions</li>
      <li class="categories-list">Combined Print & E-book Nonfiction</li>
      <li class="categories-list">Hardcover fiction</li>
      <li class="categories-list">Hardcover nonfiction</li>
      <li class="categories-list">Paperback trade fiction</li>
      <li class="categories-list">Paperback Nonfiction</li>
      <li class="categories-list">Advice, how-to & Miscellaneous</li>
      <li class="categories-list">Children's middle grade hardcover</li>
    </ul>
  </div>
  <div id="ukraine-support">
    <h3 class="support-ukraine-title">Support Ukraine</h3>
    <ul class="support-ukraine-list">
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
      <li><span>01</span> Save the children</li>
    </ul>
  </div>
</section>
