<div class="SI-modal-backdrop hidden" data-modal>
  <div class="SI-modal-wrapper">
    <div class="SI-modal-flex">
    <button type="button" class="header-close" data-modal-close>
      <svg width="28px" height="28px" class="header-close">
        <use href="/src/images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="SI-form-wrapper">
      <form action="#" name="user-sign-in">
        <label for="username">Name</label>
        <div class="SI-modal-input">
          <input type="text" name="username" id="username" required />
        </div>
        <div class="SI-modal-input">
          <input type="email" name="email" id="email" required />
        <svg width="28px" height="28px" class="header-close">
            <use href="/src/images/icons.svg#icon-mail"></use>
        </svg>
        </div>
<div class="SI-modal-input">
    <input type="password" name="password" id="password" required />
    <svg width="28px" height="28px" class="header-close">
        <use href="/src/images/icons.svg#icon-lock"></use>
    </svg>
</div>
        <button type="submit" class="btn-send">SIGN UP</button>
      </form>
    </div>
    </div>
  </div>
</div>
