<div class="SupportUkraineBody">
  <a class="supportUkraineTitle">
    Support Ukraine<svg width="20px" height="32px">
      <use href="./images/icons.svg#icon-ukraine-section-symbol"></use>
    </svg>
  </a>
  <ul class="numberedList">
    <li class="numberedItem">
      <span class="supportUkraineNumber">01</span>
      <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank">
        <img src="/src/images/children.png" alt="safe_the_children" /></a>
    </li>
    <li class="numberedItem">
      <span class="supportUkraineNumber">02</span>
      <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
        <img src="/src/images/hope.png" alt="hope" /></a>
    </li>
    <li class="numberedItem">
      <span class="supportUkraineNumber">03</span>
      <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
        <img src="/src/images/medical.png" alt="imc" /></a>
    </li>
    <li class="numberedItem">
      <span class="supportUkraineNumber">04</span><a href="https://www.razomforukraine.org/" target="_blank"><img
          src="/src/images/razom.png" alt="razom" /></a>
    </li>
    <li class="numberedItem">
      <span class="supportUkraineNumber">05</span><a href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        target="_blank"><img src="/src/images/action.png" alt="action" /></a>
    </li>
    <li class="numberedItem">
      <span class="supportUkraineNumber">06</span><a href="https://prytulafoundation.org/en" target="_blank"><img
          src="/src/images/sergiy.png" alt="sergiy" /></a>
    </li>
    <li class="numberedItem hidden">
      <span class="supportUkraineNumber">07</span><a href="https://www.msf.org/ukraine" target="_blank"><img
          src="/src/images/medecins 2.png" alt="msf" /></a>
    </li>
    <li class="numberedItem hidden">
      <span class="supportUkraineNumber">08</span><a href="https://www.wvi.org/emergencies/ukraine" target="_blank"><img
          src="/src/images/world.png" alt="wv" /></a>
    </li>
    <li class="numberedItem hidden">
      <span class="supportUkraineNumber">09</span><a href="https://u24.gov.ua/uk" target="_blank"><img
          src="/src/images/united.png" alt="united" />
    </li>
  </ul>
  <button id="supportukrainebutton" class="supportUkraineButton rotated">
    <svg>
      <use href="./images/icons.svg#icon-arrow-back-ios-rounded"></use>
    </svg>

  </button>
</div>