header {
  display: block;
  height: 64px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #fff;
  margin: auto;
  padding: 18px 20px;
}

.header-flex a {
  text-decoration: none;
  color: #111;
}

header ul {
  display: none;
  list-style: none;
  margin: 0;
}

#header-sign-button {
  display: none;
}

.header-nav-wrapper {
  display: flex;
  margin-left: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
}

.header-logo-text {
  width: 77px;
  height: 13px;
}

.header-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.header-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header-slider {
  position: absolute;
  cursor: pointer;
  top: 1.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  transition: 0.4s;
  border-radius: 45px;
  padding: 0.5px;
}

.header-slider:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  background-color: var(--background-light);
  transition: 0.4s;
  border-radius: 50%;
  padding: 0.5px;
  transform: translateX(21px);
}

input:checked + .header-slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .header-slider:before {
  transform: translateX(1px);
}

.header-hamburger {
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
  justify-content: end;
  stroke: var(--black-text-color);
  cursor: pointer;
}
.header-log-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid var(--black-text-color);
  background: var(--purple-accent-color);
  color: var(--background-light);
  gap: 90px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header-btns-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-list.show {
  display: flex;
  flex-direction: column;
}

#mobileMenu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.header-list-mobileMenu a {
  color: var(--background-light);
  text-decoration: none;
}

.header-menu-open {
  display: block !important;
  transform: translateY(0);
}
#mobileMenu + .header-list {
  position: absolute;
}
.header-list-mobileMenu {
  display: flex;
  color: var(--background-light);
  fill: var(--background-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  gap: 32px;
  align-items: center;
  padding-top: 130px;
  padding-left: 0;
  justify-content: center;
  flex-direction: column;
}
.header-mobileMenu-yellow-hover:hover {
  border-radius: 36px;
  background: #eac645;
  fill: #111;
  font-weight: 700;
  padding: 8px 16px;
  height: auto;
}
.header-mobileMenu-yellow-hover:hover a {
  color: #111;
}
.header-shopping-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: auto;
  width: auto;
}
.header-menuMobile-log-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid var(--black-text-color);
  background: var(--purple-accent-color);
  color: var(--background-light);
  gap: 90px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.menuMobile-wrapper {
  padding-top: 40px;
  padding-inline: 20px;
}
.header-books-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
  padding-top: 157px;
    overflow: visible;
}
.header-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  transform: translateX(-10%) rotate(-15deg);
  max-width: 375px;
  max-height: 812px;
}
.header-book {
  width: 87.771px;
  height: 133.539px;
  border-radius: 8px;
  background: url('https: //books-backend.p.goit.global/books/top-books'),
    lightgray 50% / cover no-repeat;
    overflow: hidden;
}
@media screen and (min-width: 767px) {
  .header-list {
    display: flex;
    align-items: start;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    gap: 32px;
    align-items: center;
    padding: 0;
  }

  .header-yellow-hover:hover {
    border-radius: 36px;
    background: #eac645;
    font-weight: 700;
    padding: 8px 16px;
    height: auto;
  }

  .header-yellow-hover:focus {
    border-radius: 36px;
    background: #eac645;
    font-weight: 700;
    padding: 8px 16px;
    height: auto;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
  }

  #header-sign-button {
    display: flex;
    width: 184px;
    height: 48px;
    border-radius: 36px;
    border: none;
    cursor: pointer;
  }

  #header-sign-button:focus {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
  }

  .header-hamburger {
    display: none;
  }

  header {
    width: 768px;
    height: 72px;
    padding: 0;
  }

  .header-nav-wrapper {
    gap: 56px;
  }

  .header-padding {
    padding: 14px 32px;
  }
  #mobileMenu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header {
    width: auto;
    height: 72px;
  }

  .header-padding {
    padding: 14px 24px;
  }

  .header-nav-wrapper {
    gap: 76px;
  }

  .header-list {
    gap: 40px;
  }
}
