@import url(./header.css);
@import url(./login-modal.css);
@import url(./supportUkraine.css);

:root {
    /* --background-main: #fff; */
    /* --text-main: #111111; */
    /* --hoover-color-main: #4F2EE8; */
    --background-light: #fff;
    --background-dark: #202024;
    --purple-accent-color: #4F2EE8;
    --yellow-accent-color: #EAC645;
    --grey-text-color: #B4AFAF;
    --black-text-color: #111111;
    --dark-page-login-text: #F6F6F6;
    --radial-gradient: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    --amazon-color: grayscale(1);
    --sl-placeholder: rgba(0, 0, 0, 0.60);
}

* {
    margin: 0;
}

html[data-theme="dark"] {
    --background-main: #202024;
    --text-main: #fff;
    --hoover-color-main: #EAC645;
    --amazon-color: grayscale(1) brightness(1000%);
    --sl-placeholder: rgba(255, 255, 255, 0.60);

}

body {
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 16px;
    /* color: var(--black-text-color); */
}

.container {
    max-width: 428px;
}

.purple-font {
    color: var(--purple-accent-color);
}

.ukraine-logo {
    filter: brightness(0) invert(1);
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1441px) {
    .container {
        max-width: 1158px;
    }
}