@import url(./header.css);

:root {
  --background-light: #fff;
  --background-dark: #202024;
  --purple-accent-color: #4f2ee8;
  --yellow-accent-color: #eac645;
  --grey-text-color: #b4afaf;
  --black-text-color: #111111;
  --dark-page-login-text: #f6f6f6;
  --radial-gradient: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
}

body {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
}

.container {
  max-width: 428px;
}

.ukraine-logo {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
