.SI-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  background-color: var(--purple-accent-color);
}
.SI-modal-wrapper {
    
  width: 579px;
  height: 516px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
border-radius: 18px;
    border: 2px solid var(--black-text-color);
    background: var(--dark-page-login-text);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding-left: 24px;
  padding-right: 24px;
}
.SI-modal-flex{
display: flex;
    flex-direction: column;
    gap: 28px
}
.SI-modal-input{
    display: flex;
        width: 499px;
        padding: 20px 173px 20px 40px;
        align-items: center;
        gap: 10px;
        border-radius: 40px;
            border: 2px solid #111;}